<!DOCTYPE html>
<html>
    <head>
        <title>Pikeville Invitational Tournament</title>
        <link rel="icon" type="image/jpg" href="images/Pikevile logo.jpg">
      <link rel="stylesheet" href="style.css">
    </head>
    
    <body>
        <h1>DON SIMPSON INVITATIONAL</h1>
        <hr>
        <p><h2>Welcome to your Scorecard </h2>
        <h3>Please click the button below to register your scorecard!</h3></p>

        <!--Registration button links to player.html-->
        <a href="static/Signin.html">
            <button>Register</button>
        </a>
        <br>
        <br>
        <img src="static/pikeville.png">

    </body>
</html>