<div class="border-bottom row" style="margin-bottom:16px; padding-bottom:8px;">
  <div class="col-9">
  <h3 style="color:gray; margin-bottom:4px;">{{serv['service']}}</h3>
  <div><b>Description:</b> {{serv['Description']}}</div>
  </div>
  <div class="col-3">
  <a href="mailto:chris.lipsey@kndsolutions.net?subject=Requesting%20service%20for%20{{serv['service']}}&body=Customer%3A%20%3Cyour%20name%20here%3E%0D%0A%0D%0APhone%3A%20%3C000-000-000%3E%0D%0A%0D%0ABest%20time%20to%20contact%3A%20%3Chh%3Amm%3E" type="button" class="btn btn-outline-secondary">Request Service</a>
  </div>
</div>